.div-container{
    background-color: white;
    color: black;
    width: 350px;
}

#user-img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    border-style: solid;
}
